.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* Header Style Starts Here */
header {
  width: inherit;
  max-width: inherit;
  height: 130px;
  background-color: #262626;
  display: flex;
  position: fixed;
}

ul {
  display: flex;
  gap: 68px;
}
.nav {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
}
ul a,
.bucket {
  color: white;
}

.bucket {
  transform: translate(650px);
}

/* Section1 Style Starts Here */

.section1 {
  width: 100%;
  height: 100%;
}

.main_img {
  width: inherit;
  height: inherit;
}

h1 {
  position: absolute;
  transform: translate(50%, -550px);
  color: white;
  font-size: 64px;
  text-align: center;
}

.search_button {
  position: absolute;
  transform: translate(190%, -250px);
  color: white;
  text-align: center;
}

.input {
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
}

form {
  color: #555555a7;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

/* Section 2 Style Starts Here */

.section2 {
  width: 100%;
  margin: 245px auto;
}

.header {
  margin-bottom: 80px;
  margin-left: 45px;
  font-weight: 600;
  font-size: 64px;
}

.cards {
  display: flex;
  gap: 55px;
  justify-content: space-around;
}

.card {
  border: 1px solid #dcb47a;
  padding: 25px;
}

.fa-cart-shopping {
  position: absolute;
  transform: translate(290px, -25px);
}
